{% extends 'base.html' %} 
{% block content %}
<body class="background">
    <div class="container">
        <div class="col-11 col-lg-11 final_score02">
            <table border="1" class="col-11 col-lg-11 table02 ">
                <thead>
                    <tr class="h6">
                        <th>Name</th>
                        <th>Hero Name</th></th>
                        <th>Total Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="h6">
                        <td>1. Nina</td>
                        <td>Frodo</td>
                        <td>20/20</td>
                    </tr>
                    <tr class="h6">
                        <td>2. Davor</td>
                        <td>Merry</td>
                        <td>19/20</td>
                    </tr>
                        <tr class="h6">
                            <td>3. Tony</td>
                            <td>Gandalf</td>
                            <td>15/20</td>
                        </tr>
                <tbody>
            </table>
        </div>
    </div>    
</body>
{% endblock %}