{% extends 'base.html' %} 
{% block content %}


<body class="background">
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Lord Of The Rings Riddle Quest</h1> 
    <p>Wellcome to Riddle Quest</p> 
  </div>
  <div>
    <p class="choose_hero">Choose Your Hero</p>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-around heroes01">
      <div class="col-4 col-lg-1 imgleft01">
        <img id="imgtab" class="img-fluid circle" src="static/img/aragorn01.jpg">
      </div>
      <div class="col-4 col-lg-1">
        <img class="img-fluid circle" src="static/img/gandalf01.jpg">
      </div>
      <div class="col-4 col-lg-1">
        <img class="img-fluid circle" src="static/img/gimli01.jpg">
      </div>
      <div class="col-4 col-lg-1">
        <img class="img-fluid circle" src="static/img/legolas01.jpg">
      </div>
      <div class="col-4 col-lg-1">
        <img class="img-fluid circle" src="static/img/boromir01.jpg">
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row justify-content-around heroes02">
        <div class="col-4 col-lg-1">
          <img class="img-fluid circle" src="static/img/merry01.jpg">
        </div>
        <div class="col-4 col-lg-1">
          <img class="img-fluid circle" src="static/img/pippin01.jpg">
        </div>
        <div class="col-4 col-lg-1">
          <img class="img-fluid circle" src="static/img/frodo01.jpg">
        </div>
        <div class="col-4 col-lg-1">
          <img class="img-fluid circle" src="static/img/sam01.jpg">
        </div>
      </div>
    </div>
  </div>  
  <div class="container">
    <div class="row d-flex justify-content-center game_form">
        <div class="col-md-4 col-md-offset-4">
            <form class="form" autocomplete="off" spellcheck="false" method="POST">
                <label for="username">Please Write down your name</label>
                <input type="text" class="form-control" id="username" name="username">
            </form>
        </div>
    </div>
  </div>
</div>
<!--<div id="animate" width="50px">Hello</div>
<p>Demonstrate fadeIn() with different parameters.</p>

<button>Click to fade in boxes</button><br><br>

<div id="div1" style="width:80px;height:80px;display:none;background-color:red;"></div><br>
<div id="div2" style="width:80px;height:80px;display:none;background-color:green;"></div><br>
<div id="div3" style="width:80px;height:80px;display:none;background-color:blue;"></div>-->
</body>
{% endblock %}

